* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-size: larger;
    font-weight: 700;
}
#box {
    width: 100%;
    height: 1000px;
    background-color: red;
    padding: 200px 0 0 0;
   
}
#button {
    transition: 0.2s;
    border: 1px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-color:#179779;
    border-radius: 18px;
    border-bottom: 4px solid whitesmoke;
    color: whitesmoke;
    margin-top: 10px;
}

#button p{
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.rt {
    transition: 0.2s;
    color: whitesmoke;
    width: 150px;
    border: 1px solid whitesmoke;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #179779;
    text-align: center;
    
    border-bottom: 4px solid whitesmoke;
    
}

#button:hover {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border-bottom: 2px solid whitesmoke;
}