* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 1000px;
    font-size: larger;
    font-weight: 700;
    position: relative;
    background-color: #000000;
}

#oneoc{
overflow: hidden;
height: 70vh;
width: 100%;
}

section {
width: 100%;
height: 70vh;
background: linear-gradient(#07ffb5, #0012b3);;
position: relative;
overflow: hidden;
border-bottom: crimson;
}
#buttonty{
margin: auto;
margin-top: 15%;
padding: 5%;
width: 20px;
height: 20px;
border-radius: 5px;
border: 2 px solid black;
position: relative;
z-index: 11;
background-color: #240068;
}
span{
position: absolute;
pointer-events: none;
animation: anim 4s linear infinite;
background:  rgba(0,0,0,.8);
}
@keyframes anim{
0%{
transform: scale(0) translateY(0) rotate(0deg);
opacity: 0;
filter: hue-rotate(0deg);
}
10%{
opacity: 1;
}
90%{
opacity: 1;
}
100%{
transform: scale(1) translateY(-1900%) rotate(360deg);
opacity: 0;
filter: hue-rotate(360deg);
}
}

#loader{
transition: 0.5s;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
z-index: 12;
}
#loader li{
margin: 0.2rem;
width: 0.4rem;
height: 0.4rem;
border-radius: 50%;
background-color: #ff4754;
animation: dm 0.8s ease infinite alternate both;
}
#loader:nth-child(2){
animation-delay: 0.2s;
}
#loader:nth-child(3){
animation-delay: 0.4s;
}
#loader:nth-child(4){
animation-delay: 0.6s;
}
@keyframes dm{
from {transform: translateY(0);}

to {transform: translateY(-1rem);}
}


#scrollbox {
    width: 100%;
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(51,51,51,0.4);
    z-index: 2;
}
#scrollline{
    
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(to left,#008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100%{
filter: hue-rotate(0deg);
}
    50%{
filter: hue-rotate(360deg);
}
}
#scrollline:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to left,#008aff,#00ffe7);
filter: blur(30px);
}
#scrollline:after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to left,#008aff,#00ffe7);
filter: blur(10px);
}
#box {
    border-top: 1px solid red;
    transition: 0.2s;
    width: 100%;
    height: 70%;
    background-color:  rgba(0,0,0,.8);
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button {
    transition: 0.2s;
    border: 1px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-color:#0f0132;
    border-radius: 28px;
    border-bottom: 5px solid whitesmoke;
    color: whitesmoke;
    margin-top: 10px;
}

#button p{
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.rt {
    transition: 0.2s;
    color: whitesmoke;
    width: 150px;
    border: 1px solid whitesmoke;
    border-radius: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #0f0132;
    text-align: center;
    
    border-bottom: 5px solid whitesmoke;
    
}

#button:hover {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border-bottom: 2px solid whitesmoke;
}

#cirOne {
    transition: 0.6s;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cirTwo {
    transition: 0.8s;
    width: 110px;
    height: 110px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cirThre {
    transition: 1s;
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container {
    transition: 0.4s;
    width: 300px;
    height: 380px;
    border: 2px solid whitesmoke;
    border-radius: 25%;
    padding: 30px 0 0 0 ;
}


#cirTwo:hover {
    width: 80px;
    height: 80px;
}
#cirOne:hover {
    width: 170px;
    height: 170px;
}

.ober {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------*/

#lennn {
    border-top: 2px solid crimson;
    width: 100%;
    height: 40%;
    background-color:  rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

#containerTwo {
    background-color:rgba(0,0,0,.8);
    width: 70%;
    height: 50%;
    border: 2px solid whitesmoke;
    border-radius: 2%;
    padding: 10px 0 0 0;
    box-shadow: 0 0 12px 5px #0058fc;
    border: 1px solid #0058fc;
}

#containerThree {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inpt {
    font-weight: 700;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b45af;
    color: #85e3ff;
    border-radius: 6px;
    border-color: whitesmoke;
    width: 70%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 12px 5px #0058fc;
    border: 1px solid #0058fc;
    text-align: center;
   
}



#valueslength {
    font-weight: 700;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    width: 72px;
    height: 72px;
    color:#85e3ff;
    background-color: #0b45af;
    margin-left: auto;
    margin-right: auto;  
    padding: 18px 0 0 0;
    border: 1px solid #0058fc;
    border-radius: 50%;
    box-shadow: 0 0 12px 5px #0058fc;
    text-align: center;
}
/*-------------------------------------*/
#contFor{
    background-color:  rgba(0,0,0,.8);
    width: 100%;
    height: 230px;
    border-top: 2px solid crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contFive{
    
    border-radius: 10px;
    width: 80%;
    height: 200px;

   
    
}
#contCont{
    background-color:  rgba(0,0,0,.8);
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contChild{
    
    font-weight: 700;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    width: 72px;
    height: 72px;
    color:rgb(255, 0, 13);
    background-color: #00143a;
    margin-left: auto;
    margin-right: auto;  
    padding: 18px 0 0 0;
    border: 1px solid #0058fc;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #0058fc;
    text-align: center;
}
#contButtons{
    background-color:  rgba(0,0,0,.8);
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
        
}
#butOneO{
    text-align: center;
    color: rgb(255, 0, 13);
    padding: 7px;
    font-size: 28px;
    font-weight: 700;
    background-color: #00143a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #00d6fc;
    border-bottom: 4px solid #00d6fc;
    cursor: pointer;
    box-shadow: 0 0 10px 1px #0058fc;

}
#butOneO:hover{
    margin-top: 1px;
    border-bottom: 3px solid #00d6fc;
    box-shadow: 0 0 10px 10px #00d6fc;
}
#butTwoO{
    text-align: center;
    color: rgb(255, 0, 13);
    padding: 9px;
    font-size: 28px;
    font-weight: 700;
    background-color:#00143a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #00d6fc;
    border-bottom: 4px solid #00d6fc;
    cursor: pointer;
    box-shadow: 0 0 10px 1px #0058fc;
}
#butTwoO:hover{
    margin-top: 1px;
    border-bottom: 3px solid #00d6fc;
    box-shadow: 0 0 10px 10px #00d6fc;
}    
#butTreO{
    text-align: center;
    color: rgb(255, 0, 13);
    padding: 9px;
    font-size: 28px;
    font-weight: 700;
    background-color:#00143a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #00d6fc;
    border-bottom: 4px solid #00d6fc;
    cursor: pointer;
    box-shadow: 0 0 10px 1px #0058fc;
}
#butTreO:hover{
    margin-top: 1px;
    border-bottom: 3px solid #00d6fc;
    box-shadow: 0 0 10px 10px #00d6fc;
}  
#butOne{ 
    width: 80px;
    height: 80px;
    padding: 10px 0 0 0;
}
#butTwo{ 
    width: 80px;
    height: 80px;
    padding: 10px 0 0 0;
}
#butTre{  
    width: 80px;
    height: 80px;
    padding: 10px 0 0 0;
}
#ret{
    border-top: 2px solid red;
    background: linear-gradient(#fcf800,#00fc69);
    width: 100%;
    height: 50%;
    animation: dff 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes dff{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
#cahgesizebox{
    background-color: rgb(255, 72, 0);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 1s;
}





#calculator{
    margin: auto ;
    padding: 20px 0;
    width: 200px;
    height: 340px;
    
    text-align: center;
    font-size: 17px;
    color: rgb(191, 255, 236);
    font-family: fantasy;
    font-weight: 100;
}
#rowcalcOne{
    overflow: hidden;
    padding: 16px 3px 0 0;
    width: 200px;
    height: 50px;
    background-color: #00ffc8;
    color: rgb(69, 0, 126);
    font-size: 24px;
    text-align: end;
    font-weight: 100;
    font-family: sans-serif;
}
.calBut{
    padding: 6%;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 18, 73);
    cursor: pointer;
    transition: 0.1s;
}

#rowcalcTwo{
    display: flex;
}
#rowcalcTre{
    display: flex;
}
#rowcalcFor{
    display: flex;
}
#razdel{ 
    width: 150px;
    height: 100px;
    
}
#rowcalcFiv{
    display: flex;
}
#calPlus{
    width: 50px;
    height: 100px;
    background-color: #001249;
    padding: 19% 0;
    cursor: pointer;
    transition: 0.1s
}

#calCancel{
    width: 100px;
    height: 50px;
    background-color: #ff0062;
    padding: 6%;
    cursor: pointer;
    transition: 0.1s
}
#razdelOne{
    width: 150px;
    height: 50px;
    display: flex;
}
#razdelTwo{
    width: 150px;
    height: 50px;
    display: flex;
}
#calRowno{
    background-color: rgb(255, 0, 98);
    cursor: pointer;
    transition: 0.1s
}
#obertkakalkul{
    background: linear-gradient( rgb(2, 0, 117), rgb(87, 0, 99));
}
#sectionPass{
    background: linear-gradient( #ffc400, #fffb00);
    width: 100%;
    height: 300px;
    padding: 30px 0;
    animation: passhue 15s linear infinite;
}
@keyframes passhue{
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}
#passGen{
    padding: 20px 10px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    width: 70%;
    color: #1a0057;
    height: 240px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}
#passString{
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.3);
    margin: 8px auto;
    width: 80%;
    height: 30px;
    padding: 5px 0;
    overflow: hidden;
}
#buttonsPassGen{
    margin: auto;
    padding: 10px 0;
    width: 80%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pssOne{
    width: 45%;
    height: 75%;
    color: #00f7ff;
    font-weight: 700;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.3);
    cursor: pointer;
}
#pssTwo{
    color: #2a003d;
    max-width: 85%;
    height: 75%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#butPOne{
    border: 1px solid rgb(0, 255, 255);
    background-color: #00ffff4d;
    height: 25%;
    width: 100%;
}
#butPTwo{
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.3);
    padding: 6px;
    font-weight: 700;
    font-size: 20px;
    height: 50%;
    width: 100%;
    
}
#butPTre{
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.3);
    height: 25%;
    width: 100%;
}




#knb{
    width: 100%;
    height: 60%;
   
}
#knbTop{
    height: 70%;
    width: 100%;
    background: linear-gradient(green, #00ff6a);
    display: flex;
    justify-content: center;
    position: relative;
}
#knbBotom{
    height: 30%;
    width: 100%;
    background: linear-gradient(#00ff6a,green);
    display: flex;
    justify-content: space-around;
}
#kmbLef{
    width: 50%;
    height: 100%;
    
}
#kmbRig{
    width: 50%;
    height: 100%;
    
}
#knbOne{
    width: 30%;
    height: 100%;
    
    background-image: url("kamen.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#knbNwo{
    width: 30%;
    height: 100%;
    
    background-image: url("nojnici.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#knbThr{
    width: 30%;
    height: 100%;
    
    background-image: url("bumaga.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#kmbLImg{
    margin: auto;
    width: 95%;
    height: 80%;
    background-image: url("bumaga.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
}
#kmbRImg{
    margin: auto;
    width: 95%;
    height: 80%;
    background-image: url("bumaga.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
    
}
#kmbYou{
    margin: auto;
    font-family: sans-serif;
    color: rgb(0, 247, 255);
    padding: 10px 0;
    font-size: 34px;
    text-align: center;
    width: 90%;
    height: 16%;
    border: 2px solid #00ff88;
    text-shadow: rgb(55, 0, 255) 0 0 28px;
    border-radius: 15px;
}
#kmbBot{
    margin: auto;
    font-family: sans-serif;
    color: rgb(255, 21, 157);
    text-shadow: rgb(255, 0, 34) 0 0 28px;
    padding: 10px 0;
    font-size: 34px;
    text-align: center;
    width: 90%;
    height: 16%;
    border: 2px solid #00ff88;
    border-radius: 15px;
}
#knbTop>p{
    top: 44%;
    padding: 10px;
    background-color: rgb(0, 255, 170);
   
    color: rgb(255, 0, 98);
    border-radius: 8px;
    margin: 10%;
    font-size: 30px;
    position: absolute;
    z-index: 999;
}
#gorodSection{
    width: 100%;
    min-height: 30%;
    background-color: #f0f1f3;
    border-bottom:10px solid tomato;
    position: relative;
    transition: 0.5s;
}

#covBackGor{
    display: block;
    width: 100%;
    height: auto;
    transition: 1s;
}
#covButtons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}
#covH{
    text-align: center;
    padding: 10px 0 5px 0;
    width: 100%;
    height: 6%;
}
.ret{
    width: 60px;
    height: 30px;
    background-color: rgba(0, 247, 255, 0.3);
    border: 1px solid rgba(0, 174, 255, 0.3);
    border-radius: 8px;
    text-align: center;
    color: rgb(255, 38, 0);
    cursor: pointer;
}
#objkolvo{
    margin: 4px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 16px;
    background-color: #f0f1f3;
    color: rgb(0, 238, 255); 
    font-size: 30px;
    z-index: 999;
    transition: 2s;
}
#blor{
    transition: 1s;
}
/*
<div id="contFor">
        <div id="contFive">
            <div id="contCont">
                <p id="contChild">0</p>
            </div>
            <div id="contButtons">
               <div id="butOne"><p id="butOneO">-</p></div>
               <div id="butTwo"><p id="butTwoO">0</p></div>
               <div id="butTre"><p id="butTreO">+</p></div>
            </div>
        </div>
    </div>
    


    <div id="lennn">
        <div id="containerTwo">
            <p id="valueslength">0</p>
            <div id="containerThree">    
                <input class="inpt" type="text" name="lsumb" value="ПИШИ СЮДА">
            </div>
        </div>
    </div>
    */
    